@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Kurale&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: Kurale;
    background-color: #FFF2D7;
    color: #862B0D;
    cursor: default;
}
* {
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 95vw;
    margin: 2.56rem auto;
}
header{
    text-align: center;
    margin-bottom: 5rem;
}
.menu li {
    display: inline-flex;
    margin-inline: 5vw;
    font-size: 2.5rem;
    max-width: 100%;
    transition: all 1s ease;
}
.menu li:hover{
    font-size: 2.525rem;
    cursor: pointer;
    opacity: 70%;
}
.activeItem{
    font-weight: 900;
    color: #db4615;
}
.maindiv{
    display: flex;
}
.sidediv{
    width: 20%;
}
main {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}
.item {
    width: 15rem;
    margin-bottom: 50px;
    border: solid #862B0D 1px;
    border-radius: 15px;
    padding: 0.5rem;
    background-color: bisque;
    padding-bottom: 0;
    transition: all 1s ease;
}
.item:hover{
    scale: 1.005;
    border-color: rgb(202, 0, 0);
}
.item img {
    margin-top: -1.5rem;
    height: 25rem;
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.item img:hover, .item .dropdown:hover, .item .addItemButton:hover {
    cursor: pointer;
}
.item *, .item {
    text-align: center;
}
.dropdown {
    font-family: inherit;
    font-size: 1.25rem;
    cursor: inherit;
    line-height: inherit;
    background-color: inherit;
    border-color: #862B0D;
    border-radius: 5px;
    width: 100%;
    color: inherit;
    margin: 0.5rem 0;
    transition: all 1s ease;
}
.dropdown:focus, .dropdown::selection{
    outline: none;
}
.addItemButton {
    font-size: 1.25rem;
    border-style: solid;
    border-width: 1px;
    border-color: #862B0D;
    border-radius: 5px;
    margin: 0.5rem auto;
    padding: 0.1rem;
    width: 90%;
    transition: all 1s ease;
}
.addItemButton:hover, .dropdown:hover{
    background-color: rgba(255, 128, 0, 0.14);
    border-color: rgb(202, 0, 0);
    color: rgb(202, 0, 0);
}
.itemPageMainDiv {
    width: 100%;
    display: flex;
}
.itemPageMainDiv main {
    padding-left: 5rem;
    display: inline-flex;
    max-width: 100%;
}
.itemPageMainDiv .sidediv {
    width: 30%;
}
.itemPageMainDiv .sidediv img {
    width: 15vw;
    border-color: #862B0D;
    border-width: 1px;
    border-style: solid;
}
.rightdiv {
    text-align: left;
}
.imageForm {
    float: right;
    text-align: center;
    width: 15vw;
}
.itemPageMainDiv .sidediv .dropdown {
    width: 10rem;
}
.itemPageUl {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0 5rem 0 0;
    font-size: 1.1rem;
}
.itemPageUl li {
    margin-bottom: 0.25rem;
}
.itemPageUl hr {
    border-style: solid;
    border-color:#862B0D;
    border-width: 1px;
}
.partUl, .itemPageUl hr {
    margin-bottom: 2.5rem;
}
.starRating span {
    font-size: 2.5rem;
    transition: all 1s ease;

}
.starRating span:hover {
    cursor: pointer;
    font-size: 2.52rem;
    opacity: 60%;
}
.itemPageButton {
    text-align: center;
    font-size: 1.25rem;
    border-style: solid;
    border-width: 1px;
    border-color: #862B0D;
    border-radius: 5px;
    margin: 0.5rem auto;
    padding: 0.1rem;
    width: 10rem;
    transition: all 1s ease;
}
.reviewForm .itemPageButton {
    
    display: inline-block;
    margin: 0;
    margin-inline: 2.5rem;
}
.reviewForm {
    text-align: center;
}
.rightdiv .itemPageButton{
    margin-left: 0;
}
.itemPageButton:hover, .dropdown:hover{
    background-color: rgba(255, 128, 0, 0.14);
    border-color: rgb(202, 0, 0);
    color: rgb(202, 0, 0);
    cursor: pointer;
}
.deleteButton:hover {
    background-color: rgba(255, 0, 0, 0.2);
}
textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: inherit;
    border-color: #862B0D;
    border-radius: 20px;
    border-width: 0px;
    padding: 1rem;
    width: 95%;
    height: auto;
}
textarea:focus{
    outline: none;
}
li input {
    font-family: inherit;
    font-size: 1rem;
    color: inherit;
    background: transparent;
    border: none;
    width: auto;
    border-radius: 10px;
    font-weight: 500;
    padding: 0.05rem;
}
input:focus {
    outline: none;
}
.i1{
    font-size: 2rem;
    font-weight: 600;
}
.i2 {
    font-size: 1.5rem;
    font-weight: 600;
}
.addItemCardInput {
    font-family: inherit;
    font-size: 1.25rem;
    color: inherit;
    background: transparent;
    border: inherit;
    border-color: #862B0D;
    border-radius: 5px;
    width: 92%;
    margin: 0.05rem auto;
}
::placeholder {
    color: inherit;
}
.addItemCardInput, .addItemButton {
    margin-block: 0.2rem
}

.addItemButton {
    background-color: rgb(255, 217, 170);
    position: relative;
}

.xmark {
    color: rgb(202, 0, 0);
    margin: 0;
    padding: 0;
    background:bisque;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 15px;
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    left: 13.5rem;

    text-align: center;
    cursor: pointer;
    transition: all 1s ease;
}
.xmark:hover{
    background: rgb(202, 0, 0);
    color:bisque
}
.searchdiv {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
    text-align: center;
}
.searchdiv input {
    border-width: 1px;
    border-radius: 30px;
    border-color: #862B0D;
    background: bisque;
    font: inherit;
    font-size: large;
    color: inherit;
    width: 50%;
    text-align: center;
    padding: 0.75rem;
    transition: all 1s ease;
}
.searchdiv input:hover{
    border-color: rgb(202, 0, 0);
    color: rgb(202, 0, 0);
}