@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Kurale&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: Kurale;
    background-color: #FFF2D7;
    color: #862B0D;
    cursor: default;
}

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 95vw;
    margin: 2.56rem auto;
}

header{
    text-align: center;
    margin-bottom: 5rem;
}

.menu li {
    display: inline-flex;
    margin-inline: 5vw;
    font-size: 2.5rem;
    max-width: 100%;
    transition: all 1s ease;
}

.menu li:hover{
    font-size: 2.525rem;
    cursor: pointer;
    opacity: 70%;
}

.activeItem{
    font-weight: 900;
    color: #db4615;
}

.maindiv{
    display: flex;
}
.sidediv{
    width: 20%;
}

main {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.item {
    width: 15rem;
    margin-bottom: 50px;
    border: solid #862B0D 1px;
    border-radius: 15px;
    padding: 0.5rem;
    background-color: bisque;

    transition: all 1s ease;
}

.item:hover{
    scale: 1.01;
    border-color: rgb(202, 0, 0);
    cursor: pointer;
}

.item img {
    height: 25rem;
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.item * {
    text-align: center;
}

.dropdown {
    font-family: inherit;
    font-size: 1.25rem;
    cursor: inherit;
    line-height: inherit;
    background-color: inherit;
    border-color: inherit;
    border-radius: 5px;
    width: 100%;
    color: inherit;
    margin: 0.5rem 0;
}

.dropdown option:focus{background: black; }

.dropdown:focus, .dropdown::selection{
    outline: none;
}